<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <span class="left-topbar-item flex-wr-s-c">
                        <span>
                            Hà Nội, VN
                        </span>

                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <span>
                            @DateTime.Now.ToString("dd/MM/yyyy")
                        </span>
                    </span>

                    <a href="#" class="left-topbar-item">
                        Trang chủ
                    </a>

                    <a href="#" class="left-topbar-item">
                        English
                    </a>

                    <a href="#" class="left-topbar-item">
                        Vietnamese
                    </a>

                    
                </div>

                <div class="right-topbar">
                    <a href="https://www.facebook.com/Hunre.fanpage">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>

                    <a href="https://www.youtube.com/c/HUNRENEWS">
                        <span class="fab fa-youtube"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="index.html"><img src="~/Asset/guest/images/icons/logo-hunre.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        
        <div class="wrap-logo container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="index.html"><img src="~/Asset/guest/images/icons/logo-hunre.png" alt="LOGO"></a>
            </div>
            <!-- Banner -->
            <div class="banner-header">
                <a href=""><img src="~/Asset/guest/images/tuyensinh-banner.png" alt="IMG"></a>
            </div>

        </div>
        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">                   
                    <ul class="main-menu">
                        <li>
                            <a href="#">Giới thiệu</a>
                            <ul class="sub-menu">
                                <li><a href="category-01.html">Thư ngỏ của hiệu trưởng</a></li>
                                <li><a href="category-02.html">Cơ cấu hình thành tổ chức</a></li>
                                <li><a href="blog-grid.html">Sứ mạng-Tầm nhìn-Giá trị cốt lõi</a></li>
                                <li><a href="blog-list-01.html">Cơ cấu tổ chức</a></li>
                                <li><a href="blog-list-02.html">Số điện thoại lãnh đạo đơn vị</a></li>
                                <li><a href="blog-detail-01.html">Liện hệ trợ lý các đơn vị</a></li>
                            </ul>
                        </li>
                        <!---------------------------------------------------------------------------------------------->
                        <li class="main-menu">
                            <a href="index.html">Sinh viên</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Cựu sinh viên</a></li>
                                <li><a href="home-02.html">Sinh viên hiện tại</a></li>
                                <li><a href="home-03.html">Sinh viên tương lai</a></li>
                                <li>
                                    <a href="home-03.html">Hỗ trợ sinh viên</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Tìm phòng trọ</a></li>
                                        <li><a href="home-02.html">Diễn đàn trao đổi học tập</a></li>
                                        <li><a href="http://dangky.hunre.edu.vn/">Cổng thông tin sinh viên</a></li>
                                        <li><a href="http://elib.hunre.edu.vn/pages/cms/default.aspx">Thư viện điện tử</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!--------------------------------------------------------------------------------->
                        <li>
                            <a href="#">Thông tin đào tạo</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="category-01.html">Đại học</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="category-01.html">Kế hoạch đào tạo</a>
                                        </li>
                                        <li><a href="category-02.html">Kết quả đào tạo</a></li>
                                        <li><a href="blog-grid.html">Chương trình đào tạo</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="category-02.html">Sau đại học</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="category-01.html">Kế hoạch đào tạo</a>
                                        </li>
                                        <li><a href="category-02.html">Kết quả đào tạo</a></li>
                                        <li><a href="blog-grid.html">Chương trình đào tạo</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Vừa học vừa làm</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="category-01.html">Kế hoạch đào tạo</a>
                                        </li>
                                        <li><a href="category-02.html">Kết quả đào tạo</a></li>
                                        <li><a href="blog-grid.html">Chương trình đào tạo</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="mega-menu-item">
                            <a href="category-02.html">Tin tức-Sự kiện</a>

                            <div class="sub-mega-menu">
                                <div class="nav flex-column nav-pills" role="tablist">
                                    <a class="nav-link active" data-toggle="pill" href="#enter-1" role="tab">Thông báo</a>
                                    <a class="nav-link" data-toggle="pill" href="#enter-2" role="tab">Tin tức</a>
                                    <a class="nav-link" data-toggle="pill" href="#enter-3" role="tab">Sự kiện</a>
                                    <a class="nav-link" data-toggle="pill" href="#enter-3" role="tab">Nhịp đập HUNRE</a>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane show active" id="enter-1" role="tabpanel">
                                        <div class="row">
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-27.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Jan 20
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-27.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Jan 20
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-26.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Feb 12
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-34.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Jan 15
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="enter-2" role="tabpanel">
                                        <div class="row">
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-35.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Feb 18
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-36.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Feb 12
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-37.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Jan 20
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-38.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Jan 15
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="enter-3" role="tabpanel">
                                        <div class="row">
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-39.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Feb 18
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-41.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Jan 20
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-42.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Jan 15
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                                        <img src="images/post-40.jpg" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                Donec metus orci, malesuada et lectus vitae
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                Music
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                Feb 12
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li>
                            <a href="category-02.html">Biểu mẫu sinh viên</a>

                            <ul class="sub-menu">
                                <li><a href="category-01.html">Biểu mẫu từ phòng đào tạo</a></li>
                                <li><a href="category-02.html">Biểu mẫu từ phòng khảo thí và DBCLGD</a></li>
                                <li><a href="blog-grid.html">Biểu mẫu từ phòng công tác sinh viên</a></li>

                            </ul>
                        </li>
                        <!------------------------------->
                        <li>
                            <a href="category-02.html">Hợp tác và phát triển</a>

                            <ul class="sub-menu">
                                <li><a href="category-01.html">Hợp tác trong nước</a></li>
                                <li><a href="category-02.html">Hợp tác quốc tế</a></li>
                                <li><a href="blog-grid.html">Các văn bản liên quan</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Hỗ trợ sinh viên</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Company", "Company")">Công ty thực tập</a></li>
                                <li><a href="@Url.Action("Book", "Book")">Tài liệu sinh viên</a></li>
                                <li><a href="#">Tư vấn việc làm</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ENd--------------------------------------------------------------------------------------------------------------------->